<a href="https://colab.research.google.com/github/Edward-Regalado/data-analysis-with-pandas/blob/main/vg_stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
upload = files.upload()

Saving vgsales.csv to vgsales.csv

In [ ]:
import pandas as pd
import io
import numpy as np

In [ ]:
df = pd.read_csv('./vgsales.csv')
df

        Rank  ... Global_Sales
0          1  ...        82.74
1          2  ...        40.24
2          3  ...        35.82
3          4  ...        33.00
4          5  ...        31.37
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16598 rows x 11 columns]

In [ ]:
## display info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [ ]:
most_common_publisher = df['Publisher'].mode()
most_common_publisher # prints output

0    Electronic Arts
dtype: object

In [ ]:
most_common_platform = df['Platform'].mode()
most_common_platform # prints output

0    DS
dtype: object

In [ ]:
most_common_genre = df['Genre'].mode()
most_common_genre # prints output

0    Action
dtype: object

In [ ]:
top_20_grossing = df[['Name', 'Global_Sales']].sort_values('Global_Sales', ascending=False).head(20)
top_20_grossing # prints output

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

In [ ]:
na_median_sale = df['NA_Sales'].median()
na_median_sale

0.08

In [ ]:
# Shows 5 video games below the 0.08 median average
above_median_sale = df[df['NA_Sales'] > na_median_sale][['Name', 'NA_Sales']].tail(5).sort_values('NA_Sales')
above_median_sale

                                                    Name  NA_Sales
10975  Fighting Fantasy: The Warlock of Firetop Mountain      0.09
10990                                     I Love Puppies      0.09
10999                            Cake Mania: Main Street      0.09
11003                                            DaGeDar      0.09
11012                 NERF N-Strike: Double Blast Bundle      0.09

In [ ]:
# Shows 5 video games below the 0.08 median average
below_median_sale = df[df['NA_Sales'] < na_median_sale][['Name', 'NA_Sales']].head().sort_values('NA_Sales', ascending=False)
below_median_sale

                          Name  NA_Sales
137          World of Warcraft      0.07
348  Pro Evolution Soccer 2008      0.05
214   Monster Hunter Freedom 3      0.00
338          Friend Collection      0.00
383           Monster Hunter 4      0.00

In [ ]:
ten_median_games = df[df['NA_Sales'] == na_median_sale][['Name', 'NA_Sales']].sort_values('NA_Sales', ascending=False).head(10)
ten_median_games

                                    Name  NA_Sales
446                    Dragon Warrior IV      0.08
10545              Hunter: The Reckoning      0.08
10533       Dora & Kai-Lan's Pet Shelter      0.08
10532  Hot Wheels: Stunt Track Challenge      0.08
10526                        FIFA Street      0.08
10523               Colin McRae Rally 04      0.08
10516                Dora's Cooking Club      0.08
10509               Blitz: The League II      0.08
10508                 Beyond Good & Evil      0.08
10491                            Syberia      0.08

In [ ]:
## Top-sell Game of all time
NA_top_selling = df[['Name', 'NA_Sales', 'Global_Sales']].sort_values('Global_Sales', ascending=False).head(1)
NA_top_selling

         Name  NA_Sales  Global_Sales
0  Wii Sports     41.49         82.74

In [ ]:
# Find the NA standard deviation
NA_standard_deviation = df['NA_Sales'].std()
a = [NA_standard_deviation]
column = pd.DataFrame(a, columns=['North American Standard Deviation'])
column

   North American Standard Deviation
0                           0.816683

In [ ]:
# Standard deviation above mean
NA_standard_deviation_above_mean = (41.49 - na_median_sale) / NA_standard_deviation
a = [NA_standard_deviation_above_mean]
column = pd.DataFrame(a, columns=['Standard Deviation Above Mean'])
column

   Standard Deviation Above Mean
0                      50.705107

In [ ]:
# Wii Global Sales
# Built my own DataFrame for returned dataset
wii_platform_global_sales = df[df['Platform'] == 'Wii']['Global_Sales'].mean()
a = [wii_platform_global_sales]
column = pd.DataFrame(a, columns=['Wii Global Sales'])
column

   Wii Global Sales
0          0.699404

In [ ]:
# Global Sale for All other Platform not including Wii
# Built my own Dataframe for returned dataset
all_platforms_global_sales = df[df['Platform'] != 'Wii']['Global_Sales'].mean()
a = [all_platforms_global_sales]
column = pd.DataFrame(a, columns=['All Platforms Global Sales'])
column

   All Platforms Global Sales
0                     0.52339

In [ ]:
# Comparing Global Sales Wii vs All other Platforms
# Built my own Dataframe for returned dataset
global_sales_wii_vs_other_platforms = wii_platform_global_sales - all_platforms_global_sales
a = [global_sales_wii_vs_other_platforms]
column = pd.DataFrame(a, columns=['Wii vs All Platforms Global Sales'])
column

   Wii vs All Platforms Global Sales
0                           0.176014

In [ ]:
# Games realeased in 1995 with Sales data
# pd.set_option('display.max_rows', df.shape[0] +1)
pd.set_option('display.max_rows', 30)
df
name_year = df[['Name', 'Year', 'Global_Sales']]
name_year
year_95 = name_year[(name_year['Year'] == 1995.0) & (name_year['Name'])].sort_values('Year', ascending=1)
year_95

                                                    Name    Year  Global_Sales
187            Donkey Kong Country 2: Diddy's Kong Quest  1995.0          5.15
10862                                         Terranigma  1995.0          0.09
10875                                 X-COM: UFO Defense  1995.0          0.09
10897  Virtua Fighter CG Portrait Series Vol.3: Akira...  1995.0          0.09
10905                                  Shockwave Assault  1995.0          0.09
...                                                  ...     ...           ...
6399                                          Final Doom  1995.0          0.27
6413                       Super Nazo Puyo: Ruruu no Ruu  1995.0          0.27
6714                          NBA Jam Tournament Edition  1995.0          0.25
5908                                      Winning Post 2  1995.0          0.30
16554                                  Psychic Detective  1995.0          0.01

[219 rows x 3 columns]

In [ ]:
# Top grossing game of 1995
top_grossing_game_of_1995 = year_95[['Name', 'Year', 'Global_Sales']].sort_values('Global_Sales', ascending=False).head(1)
top_grossing_game_of_1995

                                          Name    Year  Global_Sales
187  Donkey Kong Country 2: Diddy's Kong Quest  1995.0          5.15

In [ ]:
# Donkey Kong extracted Global Sales
donkey_kong = top_20_grossing_games_of_1995['Global_Sales']
d = donkey_kong.iloc[0]
d

NameError: ignored

In [ ]:
# Top grossing game of 1982
top_grossing_game_of_1982 = games_of_1982[(name_year['Year'] == 1982.0) & (name_year['Name'])].sort_values('Year', ascending=1).head(1)
top_grossing_game_of_1982

In [ ]:
# Pacman extracted Global Sales
pacman = top_games_of_1982['Global_Sales']
p = pacman.iloc[0]
p

In [ ]:
# Pacman vs Donkey Kong Global Sales
Pacman_vs_DK_sales = p - d
a = [Pacman_vs_DK_sales]
column = pd.DataFrame(a, columns=['Pacman vs Donkey Kong Global Sales'])
column